<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %} - TaskLinker</title>
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
         integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
         crossorigin="anonymous" referrerpolicy="no-referrer" />
		<!-- Select 2 -->
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
		
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<div id="main-container"> 
			<nav>
				<a href="{{ path("app_main") }}" id="logo">
					<img src="{{ asset('img/logo.png') }}" alt="Logo TaskLinker" />
				</a>
				<ul id="main-menu">
					<li class="active">
						<a href="#">
							<i class="fa-solid fa-list-check"></i> Projets
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa-regular fa-user"></i> Équipe
						</a>
					</li>
				</ul>
			</nav>

			<main>
				<header>
					<div id="current-user">
						{% block user %}{% endblock %}
					</div>
					<div id="title-page">
						{% block header %}{% endblock %}
					</div>
				</header>
				<div id="content">
					{% block body %}{% endblock %}
				</div>
			</main>
		</div>

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" 
			integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			crossorigin="anonymous"></script>

		<!-- Select2 JS -->
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
		
		<!-- script JS pour initialiser Select2 -->
		<script src="{{ asset('js/select.js') }}"></script>

	</body>
</html>
