{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block header %}<h1>Nouveau projet</h1>{% endblock %}

{% block body %}
    <div id="projects-container">

        {# Affichage du formulaire #}
        {{ form_start(form) }}
        <div>
            {{ form_row(form.name, {label: "Titre du projet" }) }}
        </div>
        <div>
            {{ form_row(form.members, {label: "Inviter des membres" }) }}
        </div>
        <button type="submit" class="button button-submit">Continuer</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
